

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}


*:root{
  background-color: #20BACD;
}

.home-gradient {
  background: linear-gradient(135deg, #FFFF #20BCAD );
}